.header__logo{
    background-image: url(../img/logo.svg);
    background-position: center center;
    background-repeat: no-repeat;

    margin: 0 auto;
    height: 10rem;
    width: 10rem;
}